{% extends "base.html" %}
{% block content %}
<h2>Add New Tool</h2>

<form method="POST" enctype="multipart/form-data">
  <input class="form-control my-2" name="name" placeholder="Tool Name" required>
  <input class="form-control my-2" name="price" placeholder="Price" required>
  <input class="form-control my-2" name="category" placeholder="Category" required>
  <input class="form-control my-2" name="rating" placeholder="Rating (1-5)" required>

  <label class="mt-3 fw-bold">Upload Image</label>
  <input type="file" class="form-control my-2" name="img" accept="image/*" required>

  <button class="btn btn-primary w-100 mt-3">Save</button>
</form>
{% endblock %}
